<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Imputation Success</title>
</head>

<body>

    <h1>Imputation Success</h1>
    <p>File Imputed successfully: {{ file_path }}</p>
    <div>
        <p>Imputation Algorithm: {{ imputation_algorithm }}</p>
        <p>Column Name: {{ data.column_name }}</p>
        <p>Total Rows: {{ data.total_rows }}</p>
        <p>Total Nan Values: {{ data.total_nan_values }}</p>
        <p>Nan Percentage: {{ data.nan_percentage }}</p>
        <p>Mean: {{ data.mean }}</p>
        <p>Median: {{ data.median }}</p>
        <p>SD: {{ data.SD }}</p>
    </div>

    <!-- Display the histogram using Plotly -->
    <div>
        {{ data.histogram_data|safe }}
    </div>

</body>

</html>